.full-height { 
	display: flex; 
	flex-direction: 
	column; height: 100%; 
}
.fill-height { 
	flex-grow: 1; 
	width: 100%; 
}
.doborder { 
	border: 1px solid; 
	border-color: #ddd; 
	border-radius: 4px; 
}
.controlsdiv { 
	display: table; 
	width: 100%; 
}
.navbar{
	margin-bottom: 0px !important;
}
.fill-height {
	margin-top: 51px;
}


/* modal window*/
.modal{
    overflow: hidden;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}
.modeless{
    top:10%;
    left:50%;
    bottom:auto;
    right:auto;
    margin-left:-300px;
}
